body{
font-family: Arial;
background:#121212;
color:white;
margin:0;
text-align:center;
}

header{
background:#1DB954;
padding:20px;
}

.container{
padding:30px;
}

.song{
padding:10px;
margin:10px;
background:#282828;
cursor:pointer;
}

.player{
margin-top:30px;
}

button{
padding:10px 15px;
margin:5px;
font-size:18px;
}

@media(max-width:768px){

.song{
font-size:14px;
}

button{
font-size:16px;
}

}